<div *ngIf="product" class="container">
  <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    {{ cartSuccessMessage }}
    <button type="button" class="btn-close" (click)="showSuccessMessage = false" aria-label="Close"></button>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img [src]="product.imageUrl" class="img-fluid rounded" alt="{{ product.name }}">
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p class="text-muted">{{ product.description }}</p>
      <p class="font-weight-bold">{{ product.price + " Ft" }}</p>
      
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Quantity" min="1" [(ngModel)]="product.quantity">
        <div class="input-group-append">
          <button class="btn btn-outline-primary " (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-between"></div>
